    head {
        box-sizing: border-box;
        margin:0;
        padding:0;
    }

    body {
        font-family: Arial, sans-serif;
        display: flex;
        height: 100vh;
    }

    .sidebar {
        width: 300px;
        background: #2c3e50;
        color: white;
        padding: 20px;
        overflow-y: auto;
        position: relative;
    }

    .sidebar h2 {
        margin-bottom: 15px;
        font-size: 20px;
    }

     #deleteListBtn {
        width: 90px;
        height: 90px;
        background-color:#1abc9c;
        color: black;
        border: none;
        border-radius: 50%;
        font-size: 18px;
        text-align: center;
        line-height: 60px;
        cursor: pointer; 
        position: absolute;
        bottom: 20px;
        left: 70%;
    }

    .list-input {
        display: flex;
        margin-bottom: 20px;
    }

    .list-input input {
        flex: 1;
        padding: 5px;
    }

    #addListBtn {
        padding: 5px 10px;
        margin-left: 5px;
        cursor: pointer;
    }

    .list-item {
        cursor: pointer;
        padding: 8px;
        margin-bottom:5px;
        border-radius:4px;
        background: #34495e;
    }

    .list-item.active, .list-item:hover {
        background: #1abc9c;
    }

    .content {
        flex: content;
        padding: 30px;
        background: #ecf0f1;
    }

    .content h2 {
        margin-bottom: 20px;
    }

    .task-input {
        display: flex;
        width: 70%;
        margin-bottom: 30px;
    }

    .task-input input {
        flex: 1;
        padding: 12px;
    }

    #addTaskBtn {
        padding: 8px 12px;
        margin-left:10px;
        cursor: pointer;
    }

    .tasks {
        width: 60%;
        list-style: none;
        background: white;
        padding:10;
    }

    .tasks li {
        background: white;
        padding: 12px;
        margin-bottom:8px;
        border-radius:4px;
        display: flex;
        align-items:center;
        cursor: pointer;
        position: relative;
        right: 50px;
    }

     .tasks li::before {
        content: '';
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-image: url(images/unchecked.png);
        background-size: cover;
        margin-right: 15px;
    }

    .task-text {
        margin-left: 10px;
        flex: 1;
        cursor: pointer;
    }

    .task-text.completed {
        text-decoration: line-through;
        color: gray;
    }

     .task-text.completed::before {
      background-image: url(images/checked.png);
    }

    .tasks button {
        background: orangered;
        color: white;
        border:none;
        padding: 4px 8px;
        cursor: pointer;
        position: absolute; 
        right: 10px;
    }
